
<div id="container">
	<h1>Welcome to the Test App</h1>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}
</style>
